* {
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;
}

#home {
    background-color: #839eb7;
    color: white;
    display: flex;
    
}

.tag {
    margin: 0 auto;
    height: 100vh;
    width: 460px;
    display:flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.tag h1 {
    font-size: 40px;
    margin-bottom: 70px;


}

#home img {
    width: 500px;
    height: 100vh;
    border-right: 10px double white;
}

nav {
    border-top: 5px double white;
    border-bottom: 5px double white;
    background-color:#023e8a;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: sticky


}

nav a {
    color: white;
    font-size: 25px;
    text-decoration:none;
    box-shadow: inset 0 0 0 0 white;
    margin: 0 30px;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

nav a:hover {
    box-shadow: inset 300px 0 0 0 white;
    color: #023e8a;
  }